.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

section>h1 {
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.experience__container>div {
  background: var(--color-bg-variant);
  padding: 2.4rem 4rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.experience__container>div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience__container>div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.exp__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.exp__details {
  display: flex;
  gap: 1rem;
}

.exp__icon {
  margin-top: 6px;
  color: var(--color-primary);
  font-size: 1.5rem;
}

/* media queries */
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 0 1.5rem;
  }

  .experience__container>div {
    width: 95%;
    padding: 2rem;
    margin: 0 auto;
  }

  .exp__content {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .experience__container {
    grid-template-columns: 1fr;
    padding: 2rem;
  }

  .experience__container>div {
    width: 100%;
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 425px) {
  .experience__container {
    justify-content: space-evenly;
    padding: 1rem 0;
    width: 90%;
    padding: 1rem 0rem;
  }

  .exp__content {
    column-gap: 3rem;
  }

  .exp__icon {
    margin-top: 6px;
    color: var(--color-primary);
    font-size: .8rem;
  }
}