#projects {
  height: 100%;
  padding: 2rem 0rem;
  overflow: hidden;
  background: url('../../assets/img/bg1.PNG');
}

.projects-container {
  width: 100%;
  max-width: var(--max-width);
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.btn-nav {
  text-align: center;
  padding: 1.2rem 2.3rem;
  color: var(--color-white);
  border: var(--border-transparent);
  border-radius: 5px;
}

.card {
  margin: 2.5rem;
  background-color: var(--color-bg-variant);
  border-radius: 10px;
  box-shadow: 0 2px 20px rgb(0 0 0 / 20%);
  overflow: hidden;
  width: 400px;
  height: 600px;
  border: 1px solid transparent;
  padding: 7px;
  position: relative;
}

.card-header img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 230px;
}

.card:hover {
  border-color: var(--color-primary-variant);
}

.techs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.techs span {
  margin: 3px;
  text-align: center;
}

.tag {
  display: flex;
  background: transparent;
  border-radius: 5px;
  font-size: .6rem;
  margin-bottom: 10px;
  padding: 2px 10px;
  text-transform: uppercase;
  border: 1px solid var(--color-light);
}

.card-body h4,
p {
  margin-left: .8rem;
}

.card-body p {
  font-size: 13px;
  padding: 20px 0 22px 0;
  color: var(--color-light);
}

.card-body h4 {
  margin-top: .8rem;
}

.project-links a {
  margin-right: 2rem;
}

.project-links {
  margin: 1rem;
  position: absolute;
  left: 3rem;
  bottom: 2rem;
}

@media screen and (max-width: 1024px) {
  .project-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .project-cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .card-body p {
    display: none;
    margin-bottom: 1rem;
  }

  .card-body h4 {
    margin-bottom: 2rem;
  }

  .card {
    height: 500px;
  }

  .tag {
    font-size: .6rem;
  }

  .project-links {
    margin: 1rem;
    position: absolute;
    left: 1.5rem;
    bottom: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .card {
    width: 350px;
    height: 500px;
  }

  .tag {
    font-size: .5rem;
  }

  .project-links {
    display: flex;
  }

  .project-links a {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .project-cards {
    justify-content: center;
  }

  .card {
    width: 320px;
  }
}