header {
  height: 100vh;
  padding: 2rem 0rem;
  overflow: hidden;
  background: url('../../assets/img/bg1.PNG');
}

.header__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  width: 70%;
  padding-top: 6rem;
}

.landing__text .cta-container {
  padding: 0;
}

.landing__text h1 {
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  text-align: left;
}

.landing__text p {
  margin-bottom: 1.5rem;
  margin-left: 0rem;
  text-align: left;
  width: 60%;
}

.landing__img {
  align-content: center;
}

/* CTA */
.cta-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2;
}

.cta-btns {
  display: flex;
  flex-direction: column;
  margin-left: -1rem;
}

/* SOCIAL ICONS */
.cta-social-icons {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 1.3rem;
}

.cta-social-icons a {
  margin: 1rem .7rem 1rem;
  color: var(--color-white);
}

.cta-social-icons a:hover {
  color: var(--color-accent-sec);
}


/******** MEDIA QUERIES *********/
@media screen and (max-width: 1024px) {
  .header__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    width: 85%;
    padding-top: 8rem;
    padding-left: 3rem;
  }

  .landing__text h1 {
    font-size: 3rem;
  }

  .landing__text p {
    width: 80%;
  }

  .landing__img {
    align-content: center;
    display: flex;
    padding: 4rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 100vh;
  }

  .header__container {
    grid-template-columns: 1fr;
    width: 80vw;
    text-align: justify;
    align-content: center;
  }

  .landing__img {
    display: none;
  }
}

@media screen and (max-width: 630px) {
  header {
    height: 100%;
  }

  .header__container {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__container {
    grid-template-columns: 1fr;
  }

  .landing__text h1 {
    font-size: 3rem;
  }

  .cta-container {
    justify-items: center;
  }

  .cta-btns {
    width: 40vw;
  }

  .cta-btns button {
    padding: 1.2rem .8rem;
  }

  .landing__text p {
    font-size: .9rem;
    width: 100%;
  }

  .cta-social-icons a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 425px) {
  header {
    height: 100vh;
  }

  .header__container {
    padding: 2rem .8rem;
  }

  .landing__text h1 {
    font-size: 2rem;
  }

  .landing__text p {
    font-size: .6rem;
    width: 100%;
  }

  .cta-btns {
    width: 50vw;
  }

  .cta-social-icons a {
    font-size: 1.2rem;
  }

  .cta-social-icons a {
    margin: 1rem .7rem .2rem;
    color: var(--color-white);
  }

}